name: Deploy API to VPS

on:
  push:
    #  LƯU Ý: Nếu nhánh mặc định của bạn tên là "main" thì sửa "master" thành "main"
    branches: ["master"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # Github sẽ tự động nối username của bạn vào
          tags: ${{ secrets.DOCKER_USERNAME }}/nhatdev-api:latest

      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          password: ${{ secrets.VPS_PASSWORD }}
          script: |
            cd ~/nhatdev-deploy
            # Kéo ảnh mới nhất từ Docker Hub về
            docker compose pull api
            # Chạy lại API với ảnh mới (Quá trình này không làm gián đoạn web)
            docker compose up -d api
            # Xóa các ảnh Docker cũ để giải phóng ổ cứng VPS
            docker image prune -f
